@import url("./gip-styles.common.css");

/* RADIOBOX */
input[type="radio"] {
    --color: var(--cobalt);
    position: relative;
    background-color: transparent;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    appearance: none;
    outline: none;
    width: 20px;
    height: 20px;
    z-index: 0;
}
input[type="radio"]:active {
    filter: opacity(80%);
}
input[type="radio"]::after {
    background-color: var(--color);
    border-bottom: 1px solid var(--color);
    border-radius: 20px;
    bottom: -1px;
    box-sizing: content-box;
    content: "";
    height: 0;
    position: absolute;
    left: 0;
    transition: all ease 0.1s;
    width: 100%;
}
input[type="radio"]:hover:after {
    height: 100%;
    background-color: var(--color);
}
input[type="radio"]:checked {
    border-color: var(--color);
}
input[type="radio"]:checked::after {
    mask: url("../icons/check.svg") no-repeat center;
    background-color: var(--color);
    mask-size: 1em;
    height: 100%;
    width: 100%;
}
input[type="radio"]:checked:hover {
    border-radius: 20px;
    background-color: var(--color);
}
input[type="radio"]:checked:hover::after {
    background-color: white;
    z-index: 1;
}

/* CHECKBOX */
input[type="checkbox"] {
    --color: var(--cobalt);
    position: relative;
    background-color: transparent;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    appearance: none;
    outline: none;
    width: 20px;
    height: 20px;
    z-index: 0;
}
input[type="checkbox"]:active {
    filter: opacity(80%);
}
input[type="checkbox"]::after {
    background-color: var(--color);
    border-bottom: 1px solid var(--color);
    border-radius: 3px;
    bottom: -1px;
    box-sizing: content-box;
    content: "";
    height: 0;
    position: absolute;
    left: 0;
    transition: all ease 0.1s;
    width: 100%;
}
input[type="checkbox"]:hover::after {
    height: 100%;
    background-color: var(--color);
}
input[type="checkbox"]:checked {
    border-color: var(--color);
}
input[type="checkbox"]:checked::after {
    -webkit-mask: url("./icons/check.svg") no-repeat center;
    background-color: var(--color);
    -webkit-mask-size: 1em;
    height: 100%;
    width: 100%;
}
input[type="checkbox"]:checked:hover {
    border-radius: 3px;
    background-color: var(--color);
}
input[type="checkbox"]:checked:hover::after {
    background-color: white;
    z-index: 1;
}

/* BUTTON */
button {
    --color: var(--cobalt) !important;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    outline: none !important;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: clip;
    background-color: transparent;
    border: 0;
    padding: 5px 8px;
    margin: 3px;
    transition: color ease 0.1s;
}
button:active {
    filter: opacity(80%);
}
button::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    border-radius: 3px;
    background-color: var(--color);
    transition: all ease 0.1s;
}
button:hover {
    color: white;
}
button:hover [class^="icon-"] {
    background-color: white;
}
button:hover:after {
    height: 100%;
}
